@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: Helvetica , "游ゴシック" , "Yu Gothic" , sans-serif;
  color: #333;
  background-color: #f8f8f8; }

.header {
  width: 100%;
  height: 50px;
  background-color: #dd4b39;
  max-width: 730px;
  margin: 0 auto;
  position: relative;
  z-index: 9999; }
  .header__logo {
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30px, 30px;
    width: 30px;
    height: 30px;
    background-image: url(../img/logo-app.png);
    margin: 10px 0 0 15px; }
    .header__logo a {
      display: block;
      height: 100%; }
  .header__list {
    float: right; }
  .header__item {
    display: inline-block;
    line-height: 50px;
    margin: 0 10px;
    font-size: 12px;
    font-size: .8rem; }
  .header__link {
    text-decoration: none;
    color: #fff; }
  .header i {
    color: #fff;
    vertical-align: sub;
    cursor: pointer; }

.footer {
  text-align: center;
  width: 100%;
  height: 50px;
  color: #fff;
  background-color: #272727;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999; }
  .footer__copy {
    line-height: 50px; }
