@charset 'UTF-8';
body {
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ' , Meiryo , Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.75;
    background-color: #efefef;
    color: #8899a6;
    height: 100%;
    margin: 0;
    padding: 52px 0 200px 0;
}

/*　コンテナ　*/
#container {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 1em 2em;
    height: 100%;
    overflow: auto;
}

/*　box-sizingの設定　*/
div,
p,
img {
    box-sizing: border-box;
}

/*　会話ベーススタイル　*/
.message {
    overflow: hidden;
    margin: 0 0 1em 0;
    padding: 0;
}
.message span, .message textarea {
    display: block;
    margin: 0;
    padding: 0;
}
.message .speaker-name {
    float: left;
    width: 64px;
    text-align: center;
}
.message .speaker-icon {
    float: left;
    width: 64px;
}

/*　吹き出しベーススタイル　*/
.message .message-content {
    position: relative;
    box-sizing: border-box;
    width: auto;
    min-height: 64px;
    margin: 0 160px 0 80px;
    padding: 1em;
    border-radius: 10px;
    background: #ffffff;
    color: #666666;
}

/*　会話詳細スタイル　*/
.message .speaker-icon img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 3px solid white;
    border-radius: 50%;
}
.message .timestamp {
    margin: 5px 5px 0 85px;
    font-size:80%;
    color:#aaaaaa;
}

/*　吹き出しのしっぽ　*/
.message .message-content:before {
    position: absolute;
    top: 10px;
    left: -20px;
    display: block;
    width: 0;
    height: 0;
    content: '';
    border: 10px solid transparent;
    border-right-color: #ffffff;
}

/*　逆方向の上書きスタイル　*/
.message.myself .speaker-icon {
    float: right;
}
.message.myself .speaker-name {

}
.message.myself .message-content {
    margin: 0 80px 0 160px;
    background: #fff;
}
.message.myself .message-content:before {
    right: -20px;
    left: auto;
    border-color: transparent;
    border-left-color: #fff;
}
.message.myself .timestamp-right {
    margin: 5px 85px 0 5px;
    font-size:80%;
    color:#aaaaaa;
    text-align: right;
}

/*　テキスト入力エリア　*/

#footer {
    position: fixed !important;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #000000;
}

/*　その他の付加的な装飾　*/
#header {
    position: fixed !important;
    position: absolute;
    top: 0;
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.center {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    padding: 0 5px;
}
#chat-title {
    font-size: 19px;
    font-size: 1.2rem;
    text-align: center;
    color: #990000;
}

.message.myself + .message.myself {
    margin-top: -0.5em;
}

@media screen and (max-width: 640px) {
    #container {
        padding: 0 1em;
    }

    #chat-title {
        margin: 0.5em 0.5em 1em;
    }

    .message .message-content {
        margin-right: 0;
    }

    .message.myself .message-content {
        margin-left: 0;
    }
}
